@import "colors.css";

:root {
  --zen-colors-primary: var(--base) !important;
  --zen-primary-color: var(--crystalBlue) !important;
  --zen-colors-secondary: var(--surface) !important;
  --zen-colors-tertiary: var(--overlay) !important;
  --zen-colors-border: var(--crystalBlue) !important;
  --toolbarbutton-icon-fill: var(--text) !important;
  --lwt-text-color: var(--text) !important;
  --toolbar-field-color: var(--text) !important;
  --tab-selected-textcolor: var(--text) !important;
  --toolbar-field-focus-color: var(--text) !important;
  --toolbar-color: var(--text) !important;
  --newtab-text-primary-color: var(--text) !important;
  --arrowpanel-color: var(--text) !important;
  --arrowpanel-background: var(--overlay) !important;
  --sidebar-text-color: var(--text) !important;
  --lwt-sidebar-text-color: var(--text) !important;
  --lwt-sidebar-background-color: var(--base) !important;
  --toolbar-bgcolor: var(--base) !important;
  --newtab-background-color: var(--overlay) !important;
  --zen-themed-toolbar-bg: var(--base) !important;
  --zen-main-browser-background: var(--base) !important;
}

#permissions-granted-icon {
  color: var(--sumiInk3) !important;
}

.sidebar-placesTree {
  background-color: var(--surface) !important;
}

#zen-workspaces-button {
  background-color: var(--surface) !important;
}

#urlbar-background {
  background-color: var(--surface) !important;
}

.tab-background {
  position: relative;
}

.tab-background[selected=""]::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 4px;
  height: 100%;
  background-color: var(--crystalBlue);
}

.content-shortcuts {
  background-color: var(--surface) !important;
  border-color: var(--crystalBlue) !important;
}

.urlbarView-url {
  color: var(--crystalBlue) !important;
}

#zenEditBookmarkPanelFaviconContainer {
  background: var(--base) !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: var(--base);
    }
  }
}
